In [1]:
import requests
import defs
import pandas as pd

In [2]:
session = requests.Session()

In [3]:
url = f"{defs.OANDA_URL}/accounts/{defs.ACCOUNT_ID}/instruments"

In [4]:
url

'https://api-fxpractice.oanda.com/v3/accounts/101-001-26558478-001/instruments'

In [5]:

defs.OANDA_URL

'https://api-fxpractice.oanda.com/v3'

In [6]:
defs.ACCOUNT_ID

'101-001-26558478-001'

In [7]:
defs.API_KEY

'ea2b655f011530d06c2c333174b28f8d-c0da41f98d38aa72ba8932e9f2d8d1b0'

In [8]:
response = session.get(url, params=None, headers=defs.SECURE_HEADER)

In [9]:
response.status_code

200

In [10]:
data = response.json()

In [11]:
data.keys()

dict_keys(['instruments', 'lastTransactionID'])

In [12]:
instruments = data['instruments']

In [13]:
instruments[0].keys()

dict_keys(['name', 'type', 'displayName', 'pipLocation', 'displayPrecision', 'tradeUnitsPrecision', 'minimumTradeSize', 'maximumTrailingStopDistance', 'minimumTrailingStopDistance', 'maximumPositionSize', 'maximumOrderUnits', 'marginRate', 'guaranteedStopLossOrderMode', 'tags', 'financing'])

In [14]:
instrument_data = []
for item in instruments:
    new_ob = dict(
        name = item['name'],
        type = item['type'],
        displayName = item['displayName'],
        pipLocation = item['pipLocation'],
        marginRate = item['marginRate']
    )
    instrument_data.append(new_ob)

In [15]:
for item in instrument_data[:3]:
    print(item)

{'name': 'NZD_JPY', 'type': 'CURRENCY', 'displayName': 'NZD/JPY', 'pipLocation': -2, 'marginRate': '0.05'}
{'name': 'EUR_CZK', 'type': 'CURRENCY', 'displayName': 'EUR/CZK', 'pipLocation': -4, 'marginRate': '0.05'}
{'name': 'CAD_SGD', 'type': 'CURRENCY', 'displayName': 'CAD/SGD', 'pipLocation': -4, 'marginRate': '0.05'}

In [16]:
instrument_df = pd.DataFrame.from_dict(instrument_data)

In [17]:
instrument_df

       name      type displayName  pipLocation marginRate
0   NZD_JPY  CURRENCY     NZD/JPY           -2       0.05
1   EUR_CZK  CURRENCY     EUR/CZK           -4       0.05
2   CAD_SGD  CURRENCY     CAD/SGD           -4       0.05
3   AUD_NZD  CURRENCY     AUD/NZD           -4       0.03
4   EUR_GBP  CURRENCY     EUR/GBP           -4       0.05
..      ...       ...         ...          ...        ...
63  USD_HUF  CURRENCY     USD/HUF           -2       0.05
64  USD_HKD  CURRENCY     USD/HKD           -4        0.1
65  EUR_USD  CURRENCY     EUR/USD           -4       0.02
66  EUR_CAD  CURRENCY     EUR/CAD           -4       0.02
67  AUD_CAD  CURRENCY     AUD/CAD           -4       0.03

[68 rows x 5 columns]

In [18]:
instrument_df.to_pickle("instruments.pkl")

In [19]:
new_table = pd.read_pickle("instruments.pkl")

In [20]:
new_table

       name      type displayName  pipLocation marginRate
0   NZD_JPY  CURRENCY     NZD/JPY           -2       0.05
1   EUR_CZK  CURRENCY     EUR/CZK           -4       0.05
2   CAD_SGD  CURRENCY     CAD/SGD           -4       0.05
3   AUD_NZD  CURRENCY     AUD/NZD           -4       0.03
4   EUR_GBP  CURRENCY     EUR/GBP           -4       0.05
..      ...       ...         ...          ...        ...
63  USD_HUF  CURRENCY     USD/HUF           -2       0.05
64  USD_HKD  CURRENCY     USD/HKD           -4        0.1
65  EUR_USD  CURRENCY     EUR/USD           -4       0.02
66  EUR_CAD  CURRENCY     EUR/CAD           -4       0.02
67  AUD_CAD  CURRENCY     AUD/CAD           -4       0.03

[68 rows x 5 columns]