In [15]:
import requests
import defs
import pandas as pd

In [2]:
session = requests.Session()

In [3]:
instrument = "EUR_USD"
count = 10
granularity = "H1"

In [4]:
url = f"{defs.OANDA_URL}/instruments/{instrument}/candles"

In [5]:
url

'https://api-fxpractice.oanda.com/v3/instruments/EUR_USD/candles'

In [6]:
params = dict(
    count = count,
    granularity = granularity,
    price = "MBA"
)

In [7]:
params

{'count': 10, 'granularity': 'H1', 'price': 'MBA'}

In [8]:
response = session.get(url, params=params, headers=defs.SECURE_HEADER)

In [9]:
response.status_code

200

In [11]:
data = response.json()

In [12]:
data.keys()

dict_keys(['instrument', 'granularity', 'candles'])

In [17]:
len(data['candles'])

10

In [20]:
prices = ['mid', 'bid', 'ask']
ohlc = ['o', 'h', 'l', 'c']

In [21]:
for price in prices:
    for oh in ohlc:
        print(f'{price}_{oh}')

mid_o
mid_h
mid_l
mid_c
bid_o
bid_h
bid_l
bid_c
ask_o
ask_h
ask_l
ask_c

In [26]:
data['candles'][0]

[{'complete': True,
  'volume': 6144,
  'time': '2023-08-10T07:00:00.000000000Z',
  'bid': {'o': '1.09934', 'h': '1.10180', 'l': '1.09924', 'c': '1.10076'},
  'mid': {'o': '1.09942', 'h': '1.10187', 'l': '1.09932', 'c': '1.10084'},
  'ask': {'o': '1.09949', 'h': '1.10194', 'l': '1.09939', 'c': '1.10093'}},
 {'complete': True,
  'volume': 4969,
  'time': '2023-08-10T08:00:00.000000000Z',
  'bid': {'o': '1.10077', 'h': '1.10258', 'l': '1.10075', 'c': '1.10179'},
  'mid': {'o': '1.10085', 'h': '1.10266', 'l': '1.10082', 'c': '1.10186'},
  'ask': {'o': '1.10093', 'h': '1.10273', 'l': '1.10090', 'c': '1.10193'}},
 {'complete': True,
  'volume': 3192,
  'time': '2023-08-10T09:00:00.000000000Z',
  'bid': {'o': '1.10178', 'h': '1.10240', 'l': '1.10154', 'c': '1.10199'},
  'mid': {'o': '1.10185', 'h': '1.10248', 'l': '1.10162', 'c': '1.10208'},
  'ask': {'o': '1.10192', 'h': '1.10257', 'l': '1.10169', 'c': '1.10216'}},
 {'complete': True,
  'volume': 2843,
  'time': '2023-08-10T10:00:00.000000000Z',
  'bid': {'o': '1.10200', 'h': '1.10273', 'l': '1.10185', 'c': '1.10271'},
  'mid': {'o': '1.10208', 'h': '1.10280', 'l': '1.10192', 'c': '1.10278'},
  'ask': {'o': '1.10216', 'h': '1.10288', 'l': '1.10199', 'c': '1.10285'}},
 {'complete': True,
  'volume': 3484,
  'time': '2023-08-10T11:00:00.000000000Z',
  'bid': {'o': '1.10272', 'h': '1.10291', 'l': '1.10138', 'c': '1.10159'},
  'mid': {'o': '1.10280', 'h': '1.10298', 'l': '1.10146', 'c': '1.10167'},
  'ask': {'o': '1.10287', 'h': '1.10305', 'l': '1.10153', 'c': '1.10175'}},
 {'complete': True,
  'volume': 13087,
  'time': '2023-08-10T12:00:00.000000000Z',
  'bid': {'o': '1.10162', 'h': '1.10643', 'l': '1.10099', 'c': '1.10410'},
  'mid': {'o': '1.10169', 'h': '1.10652', 'l': '1.10107', 'c': '1.10418'},
  'ask': {'o': '1.10176', 'h': '1.10662', 'l': '1.10115', 'c': '1.10427'}},
 {'complete': True,
  'volume': 11724,
  'time': '2023-08-10T13:00:00.000000000Z',
  'bid': {'o': '1.10407', 'h': '1.10451', 'l': '1.10070', 'c': '1.10389'},
  'mid': {'o': '1.10415', 'h': '1.10458', 'l': '1.10078', 'c': '1.10396'},
  'ask': {'o': '1.10423', 'h': '1.10465', 'l': '1.10085', 'c': '1.10404'}},
 {'complete': True,
  'volume': 10067,
  'time': '2023-08-10T14:00:00.000000000Z',
  'bid': {'o': '1.10390', 'h': '1.10432', 'l': '1.10117', 'c': '1.10180'},
  'mid': {'o': '1.10397', 'h': '1.10440', 'l': '1.10124', 'c': '1.10187'},
  'ask': {'o': '1.10404', 'h': '1.10448', 'l': '1.10131', 'c': '1.10194'}},
 {'complete': True,
  'volume': 6392,
  'time': '2023-08-10T15:00:00.000000000Z',
  'bid': {'o': '1.10183', 'h': '1.10214', 'l': '1.10078', 'c': '1.10145'},
  'mid': {'o': '1.10190', 'h': '1.10222', 'l': '1.10086', 'c': '1.10153'},
  'ask': {'o': '1.10197', 'h': '1.10230', 'l': '1.10094', 'c': '1.10161'}},
 {'complete': False,
  'volume': 1129,
  'time': '2023-08-10T16:00:00.000000000Z',
  'bid': {'o': '1.10145', 'h': '1.10162', 'l': '1.10120', 'c': '1.10140'},
  'mid': {'o': '1.10152', 'h': '1.10170', 'l': '1.10128', 'c': '1.10148'},
  'ask': {'o': '1.10160', 'h': '1.10177', 'l': '1.10136', 'c': '1.10156'}}]

In [28]:
our_data = []
for candle in data['candles']:
    if candle['complete'] == False:
        continue

    new_dict = {}
    new_dict['time'] = candle['time']
    new_dict['volume'] = candle['volume']
    our_data.append(new_dict)
    for price in prices:
        for oh in ohlc:
            new_dict[f'{price}_{oh}'] = candle[price][oh]
our_data

[{'time': '2023-08-10T07:00:00.000000000Z',
  'volume': 6144,
  'mid_o': '1.09942',
  'mid_h': '1.10187',
  'mid_l': '1.09932',
  'mid_c': '1.10084',
  'bid_o': '1.09934',
  'bid_h': '1.10180',
  'bid_l': '1.09924',
  'bid_c': '1.10076',
  'ask_o': '1.09949',
  'ask_h': '1.10194',
  'ask_l': '1.09939',
  'ask_c': '1.10093'},
 {'time': '2023-08-10T08:00:00.000000000Z',
  'volume': 4969,
  'mid_o': '1.10085',
  'mid_h': '1.10266',
  'mid_l': '1.10082',
  'mid_c': '1.10186',
  'bid_o': '1.10077',
  'bid_h': '1.10258',
  'bid_l': '1.10075',
  'bid_c': '1.10179',
  'ask_o': '1.10093',
  'ask_h': '1.10273',
  'ask_l': '1.10090',
  'ask_c': '1.10193'},
 {'time': '2023-08-10T09:00:00.000000000Z',
  'volume': 3192,
  'mid_o': '1.10185',
  'mid_h': '1.10248',
  'mid_l': '1.10162',
  'mid_c': '1.10208',
  'bid_o': '1.10178',
  'bid_h': '1.10240',
  'bid_l': '1.10154',
  'bid_c': '1.10199',
  'ask_o': '1.10192',
  'ask_h': '1.10257',
  'ask_l': '1.10169',
  'ask_c': '1.10216'},
 {'time': '2023-08-10T10:00:00.000000000Z',
  'volume': 2843,
  'mid_o': '1.10208',
  'mid_h': '1.10280',
  'mid_l': '1.10192',
  'mid_c': '1.10278',
  'bid_o': '1.10200',
  'bid_h': '1.10273',
  'bid_l': '1.10185',
  'bid_c': '1.10271',
  'ask_o': '1.10216',
  'ask_h': '1.10288',
  'ask_l': '1.10199',
  'ask_c': '1.10285'},
 {'time': '2023-08-10T11:00:00.000000000Z',
  'volume': 3484,
  'mid_o': '1.10280',
  'mid_h': '1.10298',
  'mid_l': '1.10146',
  'mid_c': '1.10167',
  'bid_o': '1.10272',
  'bid_h': '1.10291',
  'bid_l': '1.10138',
  'bid_c': '1.10159',
  'ask_o': '1.10287',
  'ask_h': '1.10305',
  'ask_l': '1.10153',
  'ask_c': '1.10175'},
 {'time': '2023-08-10T12:00:00.000000000Z',
  'volume': 13087,
  'mid_o': '1.10169',
  'mid_h': '1.10652',
  'mid_l': '1.10107',
  'mid_c': '1.10418',
  'bid_o': '1.10162',
  'bid_h': '1.10643',
  'bid_l': '1.10099',
  'bid_c': '1.10410',
  'ask_o': '1.10176',
  'ask_h': '1.10662',
  'ask_l': '1.10115',
  'ask_c': '1.10427'},
 {'time': '2023-08-10T13:00:00.000000000Z',
  'volume': 11724,
  'mid_o': '1.10415',
  'mid_h': '1.10458',
  'mid_l': '1.10078',
  'mid_c': '1.10396',
  'bid_o': '1.10407',
  'bid_h': '1.10451',
  'bid_l': '1.10070',
  'bid_c': '1.10389',
  'ask_o': '1.10423',
  'ask_h': '1.10465',
  'ask_l': '1.10085',
  'ask_c': '1.10404'},
 {'time': '2023-08-10T14:00:00.000000000Z',
  'volume': 10067,
  'mid_o': '1.10397',
  'mid_h': '1.10440',
  'mid_l': '1.10124',
  'mid_c': '1.10187',
  'bid_o': '1.10390',
  'bid_h': '1.10432',
  'bid_l': '1.10117',
  'bid_c': '1.10180',
  'ask_o': '1.10404',
  'ask_h': '1.10448',
  'ask_l': '1.10131',
  'ask_c': '1.10194'},
 {'time': '2023-08-10T15:00:00.000000000Z',
  'volume': 6392,
  'mid_o': '1.10190',
  'mid_h': '1.10222',
  'mid_l': '1.10086',
  'mid_c': '1.10153',
  'bid_o': '1.10183',
  'bid_h': '1.10214',
  'bid_l': '1.10078',
  'bid_c': '1.10145',
  'ask_o': '1.10197',
  'ask_h': '1.10230',
  'ask_l': '1.10094',
  'ask_c': '1.10161'}]

In [29]:
candles_df = pd.DataFrame.from_dict(our_data)
candles_df

,time,volume,mid_o,mid_h,mid_l,mid_c,bid_o,bid_h,bid_l,bid_c,ask_o,ask_h,ask_l,ask_c
0,2023-08-10T07:00:00.000000000Z,6144,1.09942,1.10187,1.09932,1.10084,1.09934,1.10180,1.09924,1.10076,1.09949,1.10194,1.09939,1.10093
1,2023-08-10T08:00:00.000000000Z,4969,1.10085,1.10266,1.10082,1.10186,1.10077,1.10258,1.10075,1.10179,1.10093,1.10273,1.10090,1.10193
2,2023-08-10T09:00:00.000000000Z,3192,1.10185,1.10248,1.10162,1.10208,1.10178,1.10240,1.10154,1.10199,1.10192,1.10257,1.10169,1.10216
3,2023-08-10T10:00:00.000000000Z,2843,1.10208,1.10280,1.10192,1.10278,1.10200,1.10273,1.10185,1.10271,1.10216,1.10288,1.10199,1.10285
4,2023-08-10T11:00:00.000000000Z,3484,1.10280,1.10298,1.10146,1.10167,1.10272,1.10291,1.10138,1.10159,1.10287,1.10305,1.10153,1.10175
5,2023-08-10T12:00:00.000000000Z,13087,1.10169,1.10652,1.10107,1.10418,1.10162,1.10643,1.10099,1.10410,1.10176,1.10662,1.10115,1.10427
6,2023-08-10T13:00:00.000000000Z,11724,1.10415,1.10458,1.10078,1.10396,1.10407,1.10451,1.10070,1.10389,1.10423,1.10465,1.10085,1.10404
7,2023-08-10T14:00:00.000000000Z,10067,1.10397,1.10440,1.10124,1.10187,1.10390,1.10432,1.10117,1.10180,1.10404,1.10448,1.10131,1.10194
8,2023-08-10T15:00:00.000000000Z,6392,1.10190,1.10222,1.10086,1.10153,1.10183,1.10214,1.10078,1.10145,1.10197,1.10230,1.10094,1.10161

In [30]:
candles_df.to_pickle('EUR_USD_H1.pkl')

In [31]:
test_df = pd.read_pickle('EUR_USD_H1.pkl')
test_df

,time,volume,mid_o,mid_h,mid_l,mid_c,bid_o,bid_h,bid_l,bid_c,ask_o,ask_h,ask_l,ask_c
0,2023-08-10T07:00:00.000000000Z,6144,1.09942,1.10187,1.09932,1.10084,1.09934,1.10180,1.09924,1.10076,1.09949,1.10194,1.09939,1.10093
1,2023-08-10T08:00:00.000000000Z,4969,1.10085,1.10266,1.10082,1.10186,1.10077,1.10258,1.10075,1.10179,1.10093,1.10273,1.10090,1.10193
2,2023-08-10T09:00:00.000000000Z,3192,1.10185,1.10248,1.10162,1.10208,1.10178,1.10240,1.10154,1.10199,1.10192,1.10257,1.10169,1.10216
3,2023-08-10T10:00:00.000000000Z,2843,1.10208,1.10280,1.10192,1.10278,1.10200,1.10273,1.10185,1.10271,1.10216,1.10288,1.10199,1.10285
4,2023-08-10T11:00:00.000000000Z,3484,1.10280,1.10298,1.10146,1.10167,1.10272,1.10291,1.10138,1.10159,1.10287,1.10305,1.10153,1.10175
5,2023-08-10T12:00:00.000000000Z,13087,1.10169,1.10652,1.10107,1.10418,1.10162,1.10643,1.10099,1.10410,1.10176,1.10662,1.10115,1.10427
6,2023-08-10T13:00:00.000000000Z,11724,1.10415,1.10458,1.10078,1.10396,1.10407,1.10451,1.10070,1.10389,1.10423,1.10465,1.10085,1.10404
7,2023-08-10T14:00:00.000000000Z,10067,1.10397,1.10440,1.10124,1.10187,1.10390,1.10432,1.10117,1.10180,1.10404,1.10448,1.10131,1.10194
8,2023-08-10T15:00:00.000000000Z,6392,1.10190,1.10222,1.10086,1.10153,1.10183,1.10214,1.10078,1.10145,1.10197,1.10230,1.10094,1.10161